$primary-color:#fbbcc0;
$secondary-color:#abe9b0;
$black:#5a5a5a;
$dark-grey:#a4a4a4;
$light-grey:#9c9c9c;
$white:#fff;
$primary-font:'Quicksand';
$secondary-font:'Open Sans';
$third-font:'Dawning of a New Day';

$xs-layout :575px;
$sm-layout :576px;
$md-layout :768px;
$lg-layout :992px;
$xl-layout :1200px;
$xxl-layout :1400px;
a
{
    text-decoration: none;
}